    <footer class="bg-white dark:bg-black text-black dark:text-white z-10 border-t-[1px] dark:border-white border-black" id="contact">
        <section class="max-w-full mx-auto p-4 flex justify-between items center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo natus cupiditate quaerat provident architecto odio est, laboriosam quasi! Ea fugit eius blanditiis placeat totam minus earum. Cumque dolor explicabo magnam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus autem aliquam harum atque alias rerum modi. Neque nesciunt sunt cumque dolor explicabo, facere tempore laboriosam, ipsa dolore numquam cupiditate nulla.
        Inventore eius aperiam id, corporis quaerat dolore officiis ducimus eligendi quidem. Quibusdam illo laudantium aperiam voluptas? Perspiciatis repellat reiciendis quaerat ab deleniti quis sequi, ipsam sint eligendi, qui obcaecati saepe!
        Repellendus suscipit cupiditate facilis harum nihil vel rerum atque eos? Quam consequuntur corrupti reprehenderit veniam harum error illum rem aspernatur beatae maiores numquam eius ullam dicta, odio, natus pariatur quas.
        Voluptas, fuga? Ad dolor saepe quo aliquam fuga, perspiciatis ullam omnis ratione dolore repellendus debitis at hic? Aliquam vero deserunt praesentium, optio accusantium hic nisi? Ducimus odio accusamus beatae temporibus.
        </section>
    </footer>
</body>
</html>