<%- include("./partials/header") %>
<main class="flex-grow">
    <div class="py-2 border-b-[1px] border-solid border-black dark:border-white flex justify-between">
        <ul class="flex flex-wrap">
            <li class="p-2 px-4 text-xl font-normal hover:text-red-600 border-r-[1px] dark:border-white border-black">
                CATEGORY <span class="rotate-[90deg] inline-block ">&#8227;</span>
            </li>
            <li class="p-2 px-4 text-xl font-normal hover:text-red-600 border-r-[1px] dark:border-white border-black">
                MATERIAL <span class="rotate-[90deg] inline-block ">&#8227;</span>
            </li>
            <li class="p-2 px-4 text-xl font-normal hover:text-red-600 border-r-[1px] dark:border-white border-black">
                TYPE <span class="rotate-[90deg] inline-block ">&#8227;</span>
            </li>
            <li class="p-2 px-4 text-xl font-normal hover:text-red-600 border-r-[1px] dark:border-white border-black">
                DIMENSIONS <span class="rotate-[90deg] inline-block ">&#8227;</span>
            </li>
            <li class="p-2 px-4 text-xl font-normal hover:text-red-600 border-r-[1px] dark:border-white border-black">
                SHAPE <span class="rotate-[90deg] inline-block ">&#8227;</span>
            </li>
            <li class="p-2 px-4 text-xl font-normal hover:text-red-600 border-r-[1px] dark:border-white border-black">
                COLOR <span class="rotate-[90deg] inline-block ">&#8227;</span>
            </li>
        </ul>
        <button class="p-2 px-14 text-xl font-normal">
            APPLY FILTERS
        </button>
    </div>
    <section class="max-w-none mx-auto p-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 justify-between gap-4">
        <% glasses.forEach(g => { %>
            <div class="border-none rounded-lg flex">
                <img src="<%- g.variants[0].images[0].url %>" alt="" class="rounded-lg w-2/3 shadow-sm aspect-square object-cover" loading="lazy">
                <div class="w-1/3 p-4 flex flex-col justify-between bg-gray-100 dark:bg-gray-700 my-1 shadow-sm">
                        <h2 class="text-lg font-medium"><%- `${g.productName} ${g.productCode}` %></h2>
                        
                        <p class="text-sm font-normal">Description Lorem, ipsror eos natus accusamus eius explicabo voluptas, temporibus dolores mollitia harum.</p>
                </div>
            </div>
        <% }) %>
    </section>
</main>
<%- include("./partials/footer") %>
    