<%- include("./partials/header") %>
<main class="flex-grow">
    <div class="py-2 border-b-[1px] border-solid border-black dark:border-white">
        <ul class="flex">
            <li class="p-2 px-4 text-xl font-normal hover:text-red-600 border-r-[1px] dark:border-white border-black">
                CATEGORY <span class="rotate-[90deg] inline-block ">&#8227;</span>
            </li>
            <li class="p-2 px-4 text-xl font-normal hover:text-red-600 border-r-[1px] dark:border-white border-black">
                MATERIAL <span class="rotate-[90deg] inline-block ">&#8227;</span>
            </li>
            <li class="p-2 px-4 text-xl font-normal hover:text-red-600 border-r-[1px] dark:border-white border-black">
                TYPE <span class="rotate-[90deg] inline-block ">&#8227;</span>
            </li>
        </ul>
    </div>
    <section class="max-w-none mx-auto p-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-between gap-4">
        <div class="border-none rounded-lg flex bg-gray-100 dark:bg-gray-700">
            <img src="https://m.media-amazon.com/images/I/61FdewVBjML._UX569_.jpg" alt="" class="rounded-l-lg w-1/2" loading="lazy">
            <div class="w-1/2 p-4 flex flex-col justify-between">
                    <h2 class="text-lg font-medium">Product Name</h2>
                    <p class="text-sm font-normal">Description Lorem, ipsror eos natus accusamus eius explicabo voluptas, temporibus dolores mollitia harum.</p>
            </div>
        </div>
        <div class="border-none rounded-lg flex bg-gray-100 dark:bg-gray-700">
            <img src="https://m.media-amazon.com/images/I/61FdewVBjML._UX569_.jpg" alt="" class="rounded-l-lg w-1/2" loading="lazy">
            <div class="w-1/2 p-4 flex flex-col justify-between">
                    <h2 class="text-lg font-medium">Product Name</h2>
                    <p class="text-sm font-normal">Description Lorem, ipsror eos natus accusamus eius explicabo voluptas, temporibus dolores mollitia harum.</p>
            </div>
        </div>
        <div class="border-none rounded-lg flex bg-gray-100 dark:bg-gray-700">
            <img src="https://m.media-amazon.com/images/I/61FdewVBjML._UX569_.jpg" alt="" class="rounded-l-lg w-1/2" loading="lazy">
            <div class="w-1/2 p-4 flex flex-col justify-between">
                    <h2 class="text-lg font-medium">Product Name</h2>
                    <p class="text-sm font-normal">Description Lorem, ipsror eos natus accusamus eius explicabo voluptas, temporibus dolores mollitia harum.</p>
            </div>
        </div>
        <div class="border-none rounded-lg flex bg-gray-100 dark:bg-gray-700">
            <img src="https://m.media-amazon.com/images/I/61FdewVBjML._UX569_.jpg" alt="" class="rounded-l-lg w-1/2" loading="lazy">
            <div class="w-1/2 p-4 flex flex-col justify-between">
                    <h2 class="text-lg font-medium">Product Name</h2>
                    <p class="text-sm font-normal">Description Lorem, ipsror eos natus accusamus eius explicabo voluptas, temporibus dolores mollitia harum.</p>
            </div>
        </div>
        <div class="border-none rounded-lg flex bg-gray-100 dark:bg-gray-700">
            <img src="https://m.media-amazon.com/images/I/61FdewVBjML._UX569_.jpg" alt="" class="rounded-l-lg w-1/2" loading="lazy">
            <div class="w-1/2 p-4 flex flex-col justify-between">
                    <h2 class="text-lg font-medium">Product Name</h2>
                    <p class="text-sm font-normal">Description Lorem, ipsror eos natus accusamus eius explicabo voluptas, temporibus dolores mollitia harum.</p>
            </div>
        </div>
        <div class="border-none rounded-lg flex bg-gray-100 dark:bg-gray-700">
            <img src="https://m.media-amazon.com/images/I/61FdewVBjML._UX569_.jpg" alt="" class="rounded-l-lg w-1/2" loading="lazy">
            <div class="w-1/2 p-4 flex flex-col justify-between">
                    <h2 class="text-lg font-medium">Product Name</h2>
                    <p class="text-sm font-normal">Description Lorem, ipsror eos natus accusamus eius explicabo voluptas, temporibus dolores mollitia harum.</p>
            </div>
        </div>
        Main
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam voluptate iure, est iusto id voluptates aliquid fugit numquam, fugiat distinctio reiciendis obcaecati soluta facilis? Maxime distinctio non culpa ratione aut!</p>
        <p>Corporis accusamus inventore, soluta molestiae facilis vero sapiente aliquid ut commodi nihil iusto iure magnam error tempore ipsum explicabo dolorum. Veritatis, nostrum! Odio molestias ut alias suscipit aliquam in nobis.</p>
        <p>Eveniet, quaerat? Suscipit iusto pariatur ut veritatis odit doloribus placeat voluptatem possimus? Illo quis, officiis sed placeat repellendus nobis nihil, culpa tenetur explicabo facilis veritatis aut fugiat accusamus! Eligendi, ullam?</p>
        <p>A non et id, neque necessitatibus fuga aspernatur nisi sequi, dolor exercitationem molestias placeat ut quo facere. Repellat eius harum perferendis. Vero, consectetur eos rem maxime itaque cupiditate labore corrupti!</p>
        <p>Ex debitis tempore quia repudiandae ducimus alias inventore adipisci amet ab, pariatur consequuntur fuga, reiciendis nulla! Nam, iusto nostrum numquam, voluptatibus debitis maiores accusamus veritatis temporibus sint aliquam, ipsam incidunt?</p>
        <p>At deleniti sequi dicta ratione. Facere doloremque perspiciatis voluptate recusandae fugit nobis deserunt, quaerat possimus quam. Dolorum necessitatibus ipsam architecto, iusto molestiae culpa labore, vel expedita voluptate recusandae ab nesciunt.</p>
        <p>Nam pariatur aliquam, ipsum accusantium provident unde nostrum, illo illum quibusdam sequi minus. Alias ipsum expedita suscipit odit non omnis rerum fugiat! Excepturi adipisci consectetur a deserunt quia ipsam nam?</p>
        <p>Velit voluptas soluta molestias fuga similique quae consectetur! Cum optio incidunt illum nulla hic consequuntur quidem praesentium! Velit, quam rerum. Similique obcaecati cumque in soluta sed, laudantium ut blanditiis doloribus.</p>
        <p>Dolorum deserunt tempore repudiandae fuga a voluptatibus harum temporibus eligendi ipsam ipsum dolorem possimus ullam, rerum pariatur aperiam. Quam cum dolores deserunt? Ex, hic asperiores excepturi doloremque atque voluptas quas.</p>
        <p>Accusamus quasi, eius velit error aliquid placeat enim praesentium rerum neque beatae, deserunt nostrum, ratione deleniti reprehenderit esse sapiente maiores! Autem corrupti ratione qui optio dolore atque deserunt eaque voluptates.</p>
        <p>Mollitia voluptates culpa debitis hic aperiam illum odit dignissimos enim corrupti quaerat vero animi accusamus porro repudiandae itaque, quos vel corporis quis molestiae ex pariatur iste esse? Incidunt, cumque distinctio!</p>
        <p>Error dolore debitis ad, qui cumque similique eveniet numquam soluta voluptatibus vitae ipsa odit! Quidem, esse? Expedita, dolorum sit. Voluptatibus eaque dicta amet blanditiis ut aperiam doloribus vel sint perferendis.</p>
        <p>Facilis eveniet consectetur nostrum, sit id pariatur odit accusantium! Adipisci, a? Ducimus assumenda est consectetur perspiciatis optio non accusamus! Beatae tenetur corrupti ipsam iste ducimus voluptatum omnis harum culpa ipsum?</p>
        <p>Repellendus iure harum id, inventore, asperiores facere architecto numquam natus non eos quia suscipit cupiditate quibusdam aliquid voluptatibus, quas possimus aperiam maiores in consequuntur dolorum quidem veniam? Nihil, ut consectetur.</p>
        <p>Ut facilis in architecto veritatis nisi nobis iusto? Perspiciatis odio, animi et quidem velit dicta eaque repellendus adipisci autem vero ex, suscipit deleniti. Temporibus dolorem, porro explicabo magnam deleniti qui?</p>
        <p>Molestiae praesentium assumenda laudantium ex, blanditiis quod a unde est ut, deserunt dolores magnam commodi voluptates molestias sed delectus quaerat ipsum. Saepe nostrum vero tempora voluptas totam id repellat sequi.</p>
        <p>Sed, neque repudiandae recusandae atque quibusdam, fugiat iure saepe nesciunt ducimus corporis assumenda odio, alias error asperiores animi perspiciatis adipisci quasi nihil nulla. Illo odit alias ex, nulla quaerat officia.</p>
        <p>Qui reprehenderit veniam dignissimos saepe quos facilis ab culpa dolores, fugiat velit voluptatibus perferendis eveniet voluptatem modi mollitia voluptatum optio itaque, adipisci, iusto quisquam ipsam sint. Enim voluptatem laudantium fugiat!</p>
        <p>Amet ipsam reiciendis vitae, deleniti ut suscipit molestiae culpa et harum quas expedita! Ut voluptatem molestias eum quidem in ullam autem ipsa voluptatum, hic eveniet, reiciendis, omnis ea voluptas consequatur!</p>
        <p>Architecto illo id saepe libero, necessitatibus itaque quia dicta obcaecati non minima provident asperiores magni minus deleniti, omnis dolor accusantium quae cumque delectus dolore illum labore corrupti atque deserunt! Temporibus.</p>
        <p>Veritatis, suscipit eius praesentium blanditiis modi, mollitia recusandae molestiae id nihil, tempora sunt aut ratione? Sed, alias repudiandae animi illum suscipit fugiat nam doloribus amet accusamus debitis soluta iste dolore.</p>
        <p>Unde illo quia deleniti, sapiente praesentium sit nihil fugiat ad cumque iure quam eligendi ducimus. Fuga cumque delectus quo. Odit autem eligendi libero ipsam inventore alias porro quo molestias veritatis.</p>
        <p>Dolore maiores quam saepe est excepturi. Ut odit maiores iste asperiores nihil obcaecati cupiditate cumque. Doloribus modi laudantium ipsum neque? Fugit itaque consequatur ab facilis saepe non magnam cumque dolore!</p>
        <p>Consequuntur modi veniam perspiciatis a autem officia nam, mollitia aperiam iusto non culpa quia sint dicta animi vero dolor, ab repellat iure reprehenderit enim. Vel nisi architecto explicabo possimus repudiandae.</p>
        <p>Rerum consequuntur, velit aperiam nemo inventore qui maiores aut temporibus numquam quos modi deserunt quibusdam corrupti minima hic unde impedit debitis quod quas sunt. Quod inventore nam perferendis labore quaerat!</p>
        <p>Labore atque deserunt quae maiores commodi, dicta inventore beatae unde vero sunt, est ratione distinctio velit numquam praesentium, at doloremque voluptatum a assumenda? Eum eligendi pariatur deserunt necessitatibus, animi repudiandae.</p>
        <p>Nobis, fugit mollitia distinctio eos ex quibusdam nemo saepe corporis perferendis incidunt. Velit accusamus, dolores voluptates vitae ab consequatur totam, magni numquam repellat asperiores natus nobis aliquid aut rem voluptatum.</p>
        <p>Tenetur, repudiandae! Necessitatibus, facilis dignissimos. Nulla dicta quia minima magni quasi facere labore at eaque illo doloremque! Quo ducimus, aspernatur fuga fugit totam libero deserunt mollitia doloribus quis inventore beatae.</p>
        <p>Minima placeat suscipit aperiam, libero accusantium quibusdam praesentium consequuntur voluptas, sed sit culpa debitis atque facilis ratione. Repellat aperiam dolores libero quia quod nisi, praesentium accusamus quibusdam harum enim reiciendis?</p>
        <p>Corporis, aspernatur provident. Omnis quo qui, adipisci asperiores eum ut. Id aspernatur perferendis, suscipit numquam impedit atque, aliquid ex quisquam officiis ducimus neque, sequi repellendus harum dolore! Repellendus, molestiae itaque.</p>
    </section>
</main>
<%- include("./partials/footer") %>
    