<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HREyewear - <%- title %></title>
    <link rel="shortcut icon" href="/images/logo_hreyewear_dark.png" type="image/x-icon">
    <link rel="shortcut icon" href="/images/logo_hreyewear_dark.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link href="/styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/scrollbar.css">
</head>
<body class="min-h-screen font-sans bg-[#fafbfe] dark:bg-[#111115] dark:text-white flex-col flex relative">