<%- include("./partials/header") %>
<main class="flex flex-grow justify-between">
    CONTACT
    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=Avenida%20Senador%20Queir%C3%B3s%20295%20-%20Centro%20Hist%C3%B3rico%20de%20S%C3%A3o%20Paulo%2C%20S%C3%A3o%20Paulo%20-%20State%20of%20S%C3%A3o%20Paulo%2C%20Brazil&key=AIzaSyD9C4dXELq19uf62zZ0N_cpsOFenUnq2UY" class="min-h-full"></iframe>
</main>
<!-- <script src="/scripts/chooseVariant.js" defer></script> -->
<%- include("./partials/footer") %>
    