<table class="min-w-full m-0">
    <colgroup>
        <col class="w-[20%]">
        <col class="w-[20%]">
        <col class="w-[20%]">
        <col class="w-[20%]">
        <col class="w-[20%]">
        <col class="w-[20%]">
    </colgroup>
    <thead>
        <tr class="border-b dark:border-b-gray-300 border-b-gray-700">
            <th class="text-left pb-4">Profile Picture</th>
            <th class="text-left pb-4">Name</th>
            <th class="text-left pb-4">Email</th>
            <th class="text-left pb-4">Roles</th>
            <th class="text-left pb-4">Permissions</th>
        </tr>
    </thead>
    <tbody id="adminsContainer" data-user-count="<%- (adminsWithRoles.length < initialMaxAdminCount ? adminsWithRoles.length : initialMaxAdminCount) %>" data-total-user-count="<%- adminsWithRoles.length %>">
        <%- include("./adminsTableListings") %>
    </tbody>
</table>
