<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HREyewear - <%- title %></title>
    <link href="/styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/scrollbar.css">
</head>
<body class="min-h-screen font-sans bg-white dark:bg-zinc-900 dark:text-white flex-col flex">
    <header class="text-black dark:text-white z-10 dark:bg-zinc-900 sticky top-0 h-[7dvh] border-b dark:border-b-gray-300 border-b-gray-700">
        <section class="max-w-full mx-auto flex justify-center items-center">
            <nav class="flex-grow">
                <ul class="flex justify-between">
                    <li class="flex">
                        <a href="/" class="text-2xl font-bold p-4 align-middle">
                            <h1>
                                HREyewear
                            </h1>
                        </a>
                    </li>
                    <% if (isAuthenticated) { %>
                        <li class="flex">
                            <a href="/logout" class="text-2xl font-medium py-4 px-14 dark:text-white text-black align-middle hover:text-white hover:bg-rose-500">
                                LOG OUT
                            </a>
                        </li>
                    <% } else { %>
                        <li class="flex">
                            <a href="/login" class="text-2xl font-medium py-4 px-14 dark:text-white text-black align-middle hover:text-white hover:bg-rose-500">
                                LOG IN
                            </a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </section>
    </header>