<table class="min-w-full m-0">
    <colgroup>
        <col class="w-[10%]">
        <col class="w-[10%]">
        <col class="w-[10%]">
        <col class="w-[10%]">
        <col class="w-[10%]">
        <col class="w-[10%]">
        <col class="w-[10%]">
        <col class="w-[10%]">
        <col class="w-[10%]">
        <col class="w-[10%]">
        <col class="w-[10%]">
        <col class="w-[10%]">
    </colgroup>
    <thead>
        <tr class="border-b dark:border-b-gray-300 border-b-gray-700">
            <th class="text-left pb-4">Images</th>
            <th class="text-left pb-4">Name</th>
            <th class="text-left pb-4">Code</th>
            <th class="text-left pb-4">Quantity</th>
            <th class="text-left pb-4">Price</th>
            <th class="text-left pb-4">Type</th>
            <th class="text-left pb-4">Colors</th>
            <th class="text-left pb-4">Modifiers</th>
            <th class="text-left pb-4">Categories</th>
            <th class="text-left pb-4">Materials</th>
            <th class="text-left pb-4">Sizes</th>
            <th class="text-left pb-4">Action</th>
        </tr>
    </thead>
    <tbody id="productsContainer" data-product-count="<%- (glasses.length < initialMaxProductCount ? glasses.length : initialMaxProductCount) %>" data-total-product-count="<%- glasses.length %>">
        <%- include("./productsTableListings") %>
    </tbody>
</table>
