<%- include("./partials/htmlStart") %>
<div class="bg-gradient-to-bl dark:from-rose-600 bg-rose-600 text-white dark:to-zinc-900">
    <%- include("./partials/header") %>
    <main class="flex flex-grow flex-col lg:flex-row gap-16 lg:gap-32 items-center">
        <div class="p-4 flex-grow">
            <h2 class="font-bold text-4xl my-16">Contact</h2>
            <div class="flex flex-wrap gap-8  justify-between w-auto">
                <div class="pr-12">
                    <span class="font-bold text-lg py-4 inline-block">HREyewear</span>
                    <p class="font-normal text-lg">
                        Avenida Senador Queirós, 295, Térreo 17<br>
                        Santa Ifigênia<br>
                        São Paulo - SP, 01026-001<br>
                        Brazil
                    </p>
                </div>
                <div class="pr-12">
                    <span class="font-bold text-lg py-4 inline-block">Get in touch</span>
                    <p class="font-normal text-lg">
                        <a href="tel:+">+55 (11) 98765-4321</a><br>
                        <a href="mailto:">email@domain.com</a><br>
                    </p>
                </div>
                <div class="pr-12">
                    <span class="font-bold text-lg py-4 inline-block">Follow Us</span>
                    <p class="font-normal text-lg flex gap-4">
                        <a href="" class="text-rose-600 w-12 bg-white p-2 rounded-full flex justify-center items-center aspect-square">
                            <svg width="24" height="24" viewBox="-5 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>facebook [#176]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-385.000000, -7399.000000)" fill="currentColor"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M335.821282,7259 L335.821282,7250 L338.553693,7250 L339,7246 L335.821282,7246 L335.821282,7244.052 C335.821282,7243.022 335.847593,7242 337.286884,7242 L338.744689,7242 L338.744689,7239.14 C338.744689,7239.097 337.492497,7239 336.225687,7239 C333.580004,7239 331.923407,7240.657 331.923407,7243.7 L331.923407,7246 L329,7246 L329,7250 L331.923407,7250 L331.923407,7259 L335.821282,7259 Z" id="facebook-[#176]"> </path> </g> </g> </g> </g></svg>    
                        </a>
                        <a href="" class="text-rose-600 w-12 bg-white p-2 rounded-full flex justify-center items-center aspect-square">
                            <svg width="24" height="24" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7.5 5C6.11929 5 5 6.11929 5 7.5C5 8.88071 6.11929 10 7.5 10C8.88071 10 10 8.88071 10 7.5C10 6.11929 8.88071 5 7.5 5Z" fill="currentColor"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 0C2.01472 0 0 2.01472 0 4.5V10.5C0 12.9853 2.01472 15 4.5 15H10.5C12.9853 15 15 12.9853 15 10.5V4.5C15 2.01472 12.9853 0 10.5 0H4.5ZM4 7.5C4 5.567 5.567 4 7.5 4C9.433 4 11 5.567 11 7.5C11 9.433 9.433 11 7.5 11C5.567 11 4 9.433 4 7.5ZM11 4H12V3H11V4Z" fill="currentColor"></path> </g></svg>
                        </a>
                        <a href="" class="text-rose-600 w-12 bg-white p-2 rounded-full flex justify-center items-center aspect-square">
                            <svg width="24" height="24" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>whatsapp [#128]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-300.000000, -7599.000000)" fill="currentColor"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M259.821,7453.12124 C259.58,7453.80344 258.622,7454.36761 257.858,7454.53266 C257.335,7454.64369 256.653,7454.73172 254.355,7453.77943 C251.774,7452.71011 248.19,7448.90097 248.19,7446.36621 C248.19,7445.07582 248.934,7443.57337 250.235,7443.57337 C250.861,7443.57337 250.999,7443.58538 251.205,7444.07952 C251.446,7444.6617 252.034,7446.09613 252.104,7446.24317 C252.393,7446.84635 251.81,7447.19946 251.387,7447.72462 C251.252,7447.88266 251.099,7448.05372 251.27,7448.3478 C251.44,7448.63589 252.028,7449.59418 252.892,7450.36341 C254.008,7451.35771 254.913,7451.6748 255.237,7451.80984 C255.478,7451.90987 255.766,7451.88687 255.942,7451.69881 C256.165,7451.45774 256.442,7451.05762 256.724,7450.6635 C256.923,7450.38141 257.176,7450.3464 257.441,7450.44643 C257.62,7450.50845 259.895,7451.56477 259.991,7451.73382 C260.062,7451.85686 260.062,7452.43903 259.821,7453.12124 M254.002,7439 L253.997,7439 L253.997,7439 C248.484,7439 244,7443.48535 244,7449 C244,7451.18666 244.705,7453.21526 245.904,7454.86076 L244.658,7458.57687 L248.501,7457.3485 C250.082,7458.39482 251.969,7459 254.002,7459 C259.515,7459 264,7454.51465 264,7449 C264,7443.48535 259.515,7439 254.002,7439" id="whatsapp-[#128]"> </path> </g> </g> </g> </g></svg>   
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <iframe class="max-w-full lg:hidden" width="800" height="600" style="border:0; filter: invert(90%) hue-rotate(180deg);" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=Avenida%20Senador%20Queir%C3%B3s%20295%20-%20Centro%20Hist%C3%B3rico%20de%20S%C3%A3o%20Paulo%2C%20S%C3%A3o%20Paulo%20-%20State%20of%20S%C3%A3o%20Paulo%2C%20Brazil&key=AIzaSyD9C4dXELq19uf62zZ0N_cpsOFenUnq2UY"></iframe>
        <iframe class="max-w-full hidden lg:block" width="500" height="800" style="border:0; filter: invert(90%) hue-rotate(180deg);" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=Avenida%20Senador%20Queir%C3%B3s%20295%20-%20Centro%20Hist%C3%B3rico%20de%20S%C3%A3o%20Paulo%2C%20S%C3%A3o%20Paulo%20-%20State%20of%20S%C3%A3o%20Paulo%2C%20Brazil&key=AIzaSyD9C4dXELq19uf62zZ0N_cpsOFenUnq2UY"></iframe>
    </main>
    <%- include("./partials/footer") %>
</div>

<!-- <script src="/scripts/chooseVariant.js" defer></script> -->
<%- include("./partials/htmlEnd") %>
